In [ ]:
### 1. create a mathmatical function

In [ ]:
assn4 = function(x)
 {
     return(x^2 + 3*x + 1)
 }
assn4(12)

In [ ]:
### 2. FUnction that takes the prodcut of a llst

In [ ]:
x = c(3,5,7,13,15,17)
prd = function(x)
 {
     return(prod(x))
}
prd(x)

In [ ]:
### 3. Changes the NA to a given number

In [ ]:
v = c(1,2,3,NA ,4,NA ,6)
n = 4 
nv = function(v)
 {
     v[is.na(v)] = n
     return(v)
 }

nv(v)

In [ ]:
### 4. Replaces NA with the mean of a list

In [ ]:
AVGv = function(v)
 {
     v[is.na(v)] = mean(v, na.rm =TRUE)
     return(v)
 }
AVGv(v)

In [ ]:
### 5. same function used on Titanic data

In [ ]:
TITANIC = read.csv("titanic.csv")
AVGx = function(x)
 {
     x[is.na(x)] = mean(x, na.rm =TRUE)
     return(x)
 }
AVGx(TITANIC$Age)

In [ ]:
### 6. Creates a simple bar chart

In [ ]:
 bar = function(x)
{
  library(ggplot2)
  ggplot(x) + geom_bar(mapping = aes(x = z))
 }
x = TITANIC
z = TITANIC$Sex
bar(x)

In [ ]:
###7. Creates a simple two varibale bar chart

In [ ]:
TITANIC$Survived = factor(TITANIC$Survived)
bar = function(x)
 {
     library(ggplot2)
     ggplot(x) + geom_bar(mapping = aes(x = z, fill = w), position = 'dodge')
 }
 w = TITANIC$Survived
bar(x)