In [ ]:
TITANIC = read.csv("titanic.csv")
TITANIC$Survived = factor(TITANIC$Survived)
TITANIC$Pclass = factor(TITANIC$Pclass)
TITANIC$Name = NULL
TITANIC$Ticket = NULL
TITANIC$PassengerId = NULL
TITANIC$Cabin = NULL
 missValu <- function(x){
     for(i in 1 :ncol(x)){
     print(names(x)[i])
     print(sum(is.na(x[,i])))
     }
      
 }

missValu(TITANIC)

In [ ]:
### 2. Function print the name of the column with NA's

In [ ]:
 missdata <- function(x){
     for(i in 1 :ncol(x)){
     if(sum(is.na(x[,i]))){
      print(names(x)[i]) 
     } 
     }
      
 }
missdata(TITANIC)

In [ ]:
### 3. Prints the name of the column with NA's and how many it holds

In [ ]:
 missValu2 <- function(x){
     for(i in 1 :ncol(x)){
    if (sum(is.na(x[,i])) > 0){
     print(names(x)[i])
     print(sum(is.na(x[,i])))
     }
     }
      
 }
missValu2(TITANIC)

In [ ]:
### 4. Function replaces NA with the mean of the column and non numeric with the most common variable in that column.

In [ ]:
 fixmiss <- function(x){
     for(i in 1 :ncol(x)){
    if ((is.numeric(x[,i])) == TRUE ){
      x[,i][is.na(x[,i])] = mean(x[,i], na.rm = TRUE)
    } else{
       levels=unique(x[,i])
      x[,i][is.na(x[,i])]=levels[which.max(tabulate(match(x[,i], levels)))]
    }
       print(names(x)[i]) 
       print(sum(is.na(x[,i])))
     }
      
 }
fixmiss(TITANIC)

In [ ]:
### 5. Function divides the data step by numeric and non numeric

In [ ]:
numvcat <- function(x){
   library(dplyr)
   library(tidyverse)
   num <- select_if(x, is.numeric)
   cat <- select_if(x,negate(is.numeric))
   str(num) 
   str(cat)
  }
      
numvcat(TITANIC)

In [ ]:
### 6. Creates all density plots for a data set

In [ ]:
library(ggplot2)
density = function(z) {
  for(i in 1 :ncol(z)) {
    if((is.numeric(z[,i])) == TRUE ){
  print(ggplot(z) + geom_density(mapping = aes(x = z[,i])))
 }
}
}
density(TITANIC)

In [ ]:
### 7. creates all the single variable bar charts for a data set

In [ ]:
barc = function(z) {
  for(i in 1 :ncol(z)) {
    if((is.numeric(z[,i])) == TRUE ){
  print(ggplot(z) + geom_bar(mapping = aes(x = z[,i])))
 }
}
}
barc(TITANIC)

In [ ]:
### 8. Creates all bar charts and prints out when variable is not categorical

In [ ]:
bar2=function(x,i,j){
    if(is.numeric(x[,i]) | is.numeric(x[,j])){
      print("One or more of the columns are not categorical")
    }else {
      print(ggplot(data=x)+geom_bar(mapping=aes(x=x[,i], fill=x[,j]),position = "dodge")+labs(x=names(x)[i],fill=names(x)[j]))
    }
  }

bar2(TITANIC,2,3)
bar2(TITANIC,4,5)

In [ ]:
### 9. Creates all possible scatter plots and prints out if coumn is not numeric

In [ ]:
scater=function(x,i,j){
    if(!is.numeric(x[,i]) | !is.numeric(x[,j])){
      print("One or more of the columns are not numeric")
    }else {
      print(ggplot(data=x)+geom_point(mapping=aes(x=x[,i], y=x[,j]))+labs(x=names(x)[i],y=names(x)[j]))
    }
}

scater(TITANIC,1,2)
scater(TITANIC,3,5)

In [ ]:
### 10. Creates all possible densisity plots and prints out if it can dont create a plot

In [ ]:
Den=function(x,i,j){
    if(!is.numeric(x[,i])){
      print("The input variable is not numeric")
    }else if(is.numeric(x[,j])){
      print("The partitioning variable is not categorical")
    }else{
      print(ggplot(data=x)+geom_density(mapping = aes(x=x[,1],color=x[,j]))+labs(x=names(x)[i],color=names(x)[j]))
    }
}

Den(TITANIC,1,3)
Den(TITANIC,6,5) 
Den(TITANIC,4,6)

In [ ]:
### 11. Prints every possible bar chart for a data set.

In [ ]:
everybar=function(x){
    for (i in 1:ncol(x)){
      if (!is.numeric(x[,i])){
        for(j in 1:ncol(x)){
          if (!is.numeric(x[,j]) & names(x)[j]!=names(x)[i]){
            print(ggplot(data=x)+geom_bar(mapping=aes(x=x[,i],fill=x[,j]),position="dodge")+ labs(x=names(x)[i],fill=names(x)[j]))
          }
        }
      }
    }
}
everybar(TITANIC)

In [ ]:
### 12. prints every possible bar and density plot for a data set.

In [ ]:
visual=function(x){
  for (i in 1:ncol(x)){
      if (!is.numeric(x[,i])){
        for(j in 1:ncol(x)){
          if (!is.numeric(x[,j]) & names(x)[j]!=names(x)[i]){
            print(ggplot(data=x)+geom_bar(mapping=aes(x=x[,i],fill=x[,j]),position="dodge")+ labs(x=names(x)[i],fill=names(x)[j]))
          }
        }
      }else{
        for(j in 1:ncol(x)){
          if (!is.numeric(x[,j])){
            print(ggplot(data=x)+geom_density(mapping=aes(x=x[,i],color=x[,j]))+labs(x=names(x)[i],color=names(x)[j]))
          }
        }
      }
  }
}
visual(TITANIC)